.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*_ListForFigures.*
*_ListForTables.*
*_ListForFiguresInfo.*
*_ListForTablesInfo.*
*_files
*.zip
05_sdmTMB/rda_mdls-all_log_depth-st_rw-dg.RData
05_sdmTMB/rda_prds_log_depth-st_rw-dg.RData
*.pdf
